@font-face {
    font-family: Nimbus;
    src: url("NimbusSanL-Reg.otf") format("opentype");
}

@font-face {
    font-family: Nimbus;
    font-weight: bold;
    src: url("NimbusSanL-Bol.otf") format("opentype");
}


body {
    background-color: white;
    font-family: Nimbus, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 36px;
    transition: background-color .3s linear;
}

.dark {
    background-color: black;

}

.vid {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main {
    color: black;
}

.cover {
    width: 80%;
    height: 80%;
}


.hidden {
    display: none;
}

.centerText {
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
}

.tracklist {
    font-weight: bold;
}


.center {
    text-align: center;
}

.bottomSection {
    font-weight: bold;
    margin-bottom: 60px;
}

.bottomSection a {
    color: #6DEBE9;
    padding: 0px 20px;
}

.bottomSection a:visited {
    color: #6DEBE9;
}

.blackred {
    margin-bottom: 30px;
    padding: 6px 8px;
    background-color: black;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px red;
}

.blackred a {
    color: white
}

.blackred a:visited {
    color: white;
}

.logo {
    /*   width: fit-content;
 	text-shadow: 3px 3px red;
 	background-color: black;
 	color: white;
 	font-weight: bold;
 	font-size: 36px;
 	padding: 8px 4px 4px 4px;
 	transform: scaleX(1.4);
    transform-origin: 0 0;*/
}

.logoimg {
    width: 80%;
}

.logo {
    margin: 30px auto;
    text-align: center;
}

.section {
    margin-bottom: 40px;
}

.leftColumn {
    font-size: 24px;
}


@media only screen and (max-device-width: 480px) {
    .leftColumn {
        font-size: 36px;
    }

    .tracklist {
    	margin-bottom: 60px;
    }
}

@media only screen and (min-device-width: 480px) {
    .bottomSection {
        font-size: 16px;
    }

    .tracklist {
        font-size: 14px;
    }

    .logoimg {
        width: 400px;
    }

    .leftColumn {
        font-size: 12px;
        width: 18%;
        margin-left: 30px;
        text-align: right;
    }

    body {
        font-size: 18px;
    }

    .cover {
        width: 400px;
        height: 400px;
    }

    .center {
        text-align: left;
    }

    .centerText {
        margin-right: 50px;
        margin-left: 0px;
    }

    .centerSection {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 900px;
    }

    .bottomSection {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 700px;
    }

    .main {
        width: 100vw;
        height: 90vh;
        position: relative;
    }

    .logo {
        margin: 40px;
        text-align: left;
    }
}