body {
    background-color: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.vid {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main {
    color: white;
}

img {
	padding-top: 40px;
    width: 300px;
    height: 300px;
}


.hidden {
    display: none;
}

.centerText {
    padding: 40px;
    text-align: left;
}

.tracklist {
    font-size: 16px;
}

.bottomSection {
    font-size: 12px;
}

.center {
    text-align: center;
}

.bottomSection a {
    padding: 0px 20px;
    text-decoration: none;
    color: #4d4b53;
}

@media only screen and (min-device-width: 480px) {
    img {
        width: 480px;
        height: 480px;
    }

    .center {
        text-align: left;
    }

    .centerSection {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .bottomSection {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .main {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
}